<h2 class="subtitle" style="float:left;">Welcome to Brand 'X'<br/></h2>
<br/>
<table style="margin-top:50px">
	<tr>
		<td>
			<%= render 'calendar/index' %>
		</td>
		<td width="100%" style="vertical-align:top">
			<div class="box">
				<h2>Alerts</h2>
				<p>No new alerts.</p>
			</div>
		</td>
	</tr>
</table>